@model IEnumerable<App_Estacionamento.Models.Ticket>

@{
    ViewData["Title"] = "Abertos";
}
<br />

<div class="text-center">
    <h1>Tickets abertos</h1>
</div>
<br />
<table id="myTable" class="table table-striped table-hover">
    <br />
    <thead>
        <tr>    
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Veiculo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>                
            <th>
                @Html.DisplayNameFor(model => model.Entrada)
            </th>           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>      
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Placa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Veiculo)
                </td>            
                <td>
                    @Html.DisplayFor(modelItem => item.ValorTotal)
                </td>            
                <td>
                    @Html.DisplayFor(modelItem => item.Entrada)
                </td>                             
                <td>
                    @Html.ActionLink("Saída", "Saida", new { id = item.Id }, new { @class = "btn btn-primary btn-success p-1 m-1 btn-block" })
                    @*@Html.ActionLink("Pagamento", "Pagamento", new { id=item.Id }, new { @class = "btn btn-success p-1 m-1 btn-block" })*@
                    @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id }, new { @class = "btn btn-primary p-1 m-1 btn-block" })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.12.0/i18n/pt-BR.json"
                },
                "lengthMenu": [[25, 50, -1], [25, 50, "All"]]
            });
        });
    </script>
}